@import './_fonts', './_vars', './_animation', './_adaptive';

*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: $default-grey-color-75;
    border-radius: 2.5px;
}

html, 
body{
    width: 100%;
    min-height: 100dvh;
    height: auto;
    background: $body-black-background;
    font-size: $font-size-main;
    font-weight: 300;
    font-family: $font-Inter-sans-serif;
    color: $default-white-color-100;
}

body{
    display: flex;
    &.hidden{
        overflow: hidden;
    }
}

#app{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#application{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: $distance-between-blocks;
    padding-top: 0;
    z-index: 2;
    gap: $distance-between-blocks;

    & #main-app{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: $distance-between-blocks;
    }

    #links{
        flex: none;
        height: 100%;
        box-shadow: inset 0px 4px 18px rgba(0, 0, 0, 0.3), inset 0px 1px 30px rgba(78, 74, 74, 0.2);
        backdrop-filter: blur(60px);
        background: $body-black-background;
        border-radius: 1rem;
        padding: calc($distance-between-blocks * 2.5)
    }
}

aside.aside{
    flex: 1;
    display: flex;
    gap: $distance-between-blocks;
}

section#page{
    flex: 1;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 1rem;
    box-shadow: inset 0px 4px 18px rgba(0, 0, 0, 0.3), inset 0px 1px 30px rgba(78, 74, 74, 0.2);
    backdrop-filter: blur(60px);
    background: $body-black-background;
    gap: calc($distance-between-blocks * 2);
    overflow: hidden;
    
    #app-sect{
        position: absolute;
        padding: calc($distance-between-blocks * 2.5);
        z-index: 2;
        min-height: 100%;
        height: auto;
        width: 100%;
        gap: calc($distance-between-blocks * 2.5);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}

a{
    color: inherit;
    cursor: pointer;
    user-select: none;
}

i, svg, img, .footer{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}